* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.mainSlider .itm h2 {
    opacity: 0;
    transform: translate(0, 100px);
}

.mainSlider .itm.on h2 {
    color: #f00;
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
}

.productSlider figure {
    padding: 50px 15px;
}

.productSlider figure img {
    border: 0px solid tomato;
    transition: 0.5s;
}


.productSlider figure.on img {
    border: 10px solid tomato;
    transform: scale(1.3);
}

.syncSlider {
    position: relative;

}

.syncSlider .thum {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 600px;
    transform: translate(0, -50%);
}

.syncSlider .thum figure {
    margin: 0 20px 0 0;
    border: 3px solid tomato;
}

.syncSlider .slogan {
    position: absolute;
    top: 150px;
    left: 150px;
    color: #fff;
    width: 600px;
}